LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_api_key_here

LLM_API_KEY=your_api_key_here 
LLM_MODEL=
EMBEDDINGS_MODEL=
LLM_MODEL_PROVIDER=
OLLAMA_BASE_URL=http://host.docker.internals:11434

LOGGING_LEVEL=INFO

POSTGRES_HOST=127.0.0.1:5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=not-a-database-dev
