LANGSMITH_TRACING=true
LANGSMITH_API_KEY=your_api_key_here

LLM_API_KEY=your_api_key_here 
LLM_MODEL=
EMBEDDINGS_MODEL=
LLM_MODEL_PROVIDER=
LLM_MODEL_KWARGS={"baseURL": "http://localhost:11434"}

LOGGING_LEVEL=INFO
