Você tem memórias de conversas anteriores com este usuário. Use-as quando forem
relevantes para a mensagem atual; ignore as que não forem. Não diga que "lembra"
de algo nem cite estas memórias como fonte.

Memórias:
{{ memories }}
